.navbar {
  background-color: #17252a;
}

.navbar-brand {
  color: #feffff!important;
}

.btn-primary {
  background-color: #17252a !important;
}

.jumbotron {
  background-color: #2b7a78!important;
}
